mixin nav()
    ul.nav.justify-content-center
        li.nav-item
            a.nav-link(href="/") Home
        li.nav-item
            a.nav-link(href="/items") All Items
        li.nav-item
            a.nav-link(href="/items/form") Add Item
        li.nav-item
            a.nav-link(href="/todos") All Todos
        li.nav-item
            a.nav-link(href="/todos/form") Add Todo